<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>
        {{#if title}}
            {{title}}
        {{else}}
            Quizae
        {{/if}}
    </title>

    {{> includes/styles }}

    {{#> optional-styles-block}}

    {{/optional-styles-block}}
</head>
<body class="hold-transition sidebar-mini">
<div class="wrapper">
    {{> includes/navbar }}

    {{> includes/sidebar }}
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        {{# if contentTitle }}
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1 class="m-0">{{contentTitle}}</h1>
                        </div>
                    </div>
                </div>
            </div>
        {{/if}}
        <!-- /.content-header -->

        <!-- Main content -->
        <div class="content">
            <div class="container-fluid">
                {{#> content-block}}

                {{/content-block}}
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    {{> includes/footer }}
</div>
<!-- ./wrapper -->

{{> includes/scripts }}

{{# optional-scripts-block}}

{{/optional-scripts-block}}
</body>
</html>
